.body{
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    background-color: #61b0cd;
}
footer{
    background-color: #61b0cd;
}
body{
    display: flex;
    
    
}
.grid{
    display: grid;
    grid-template-columns: 45% 45%;
    
}
.redes-icon{
    height: 35px;
    width: auto;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.redes-icon img{
    margin-right: 10px;
}

.info_club{
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-top: 5%;
    background-color: #0b51535e;
    width: 100%;
    padding-left: 10px;
    gap: 15%;
    height: 300px;
}
.club{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.redes{
    align-items: center;
    text-align: center;
    justify-content: center;
   margin-left:75% ;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    display: flex;
    height: 100px;
    border-radius: 50px;
    margin-left: 20PX;
}


nav {
    display: flex;
    background: rgba(0, 0, 0, 0.7);  
    img{
        justify-content: left;
    }
}

nav ul {
    list-style: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

nav ul li {
    position: relative;
    font-size: 20px;
    border-radius: 20px;
}

nav ul li a {
    padding: 10px;
    display: block;
    color: #148c91;
    text-decoration: none;
}

.altura{
    height: 800px;
    width: 100%;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
 
 
}

.info-deportes{
    display: flex;
    flex-direction: column;
    align-items:left;
    justify-content:left;
    text-align:center;
    width: 40%;
}

.img-info-deportes{
    display: flex;
    flex-direction: row;
    text-align:center;
    align-items:center;
    margin-top: 5%;
    background-color: #0b51535e;
    width: 100%;
    padding-left: 10px;
    gap: 15%;
    height: 300px;
    
}
.centrar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.foto-info-deportes{
    height: 90%;
}
.navegador{
    margin-bottom: 50px;
}


.container {
    align-items: center;
    display: flex;
    width: auto;
    height: 20%;
    
}
  
.box {    
    flex: 0.5;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
    margin-bottom: 30px;
    
}
  
h2  {
    margin-left: 30px;
    position: absolute;
    font-size: 30px;
    font-family: 'Muli';
    transition: opacity 0.7s ease-in-out 0.4s;
}

.box:hover {
    flex: 5;
    color: white;
  
}
 
